{
  "host": "<user must edit>",
  "sapport": 443,
  "client": "100",
  "user": "<user must edit>",
  "password": "<user must edit>",
  "language": "EN",
  "gitUsername": "<optional>",
  "gitPassword": "<optional>"
}
